<link rel="stylesheet" href="/owner-profile.css" />
<link rel="stylesheet" href="/walker-profile.css" />

<div class="owner-profile-container">
  <div class="owner-profile-card">
    <!-- Walker Profile Image -->
    <img src="/get-user-photo" alt="Walker Image" class="walker-image" />

    <!-- User Profile (Owner) -->
    <div class="contact-walker mb-4">
      <h3 class="mb-4">User Profile</h3>
      <!-- Username -->
      <div class="profile-box">
        <img
          src="/assets/icons/username.png"
          alt="Username Icon"
          class="profile-img"
        />
        <div class="profile-info">
          <h5>Username</h5>
          <p><%= userData.username %></p>
        </div>
      </div>
      <!-- Email -->
      <div class="profile-box mt-4">
        <img
          src="/assets/icons/email.png"
          alt="Email Icon"
          class="profile-img"
        />
        <div class="profile-info">
          <h5>Email</h5>
          <p><%= userData.email %></p>
        </div>
      </div>
    </div>

    <!-- Edit Profile Button -->
    <a href="/owner/edit-owner-profile" class="button-design-2">Edit Profile</a>
  </div>

  <!-- Profile Details Section -->
  <div class="profile-details">
    <!-- Walker Bios -->
    <h3>Dog Profile</h3>
    <div class="run-jump-dog">
      <img src="/assets/doggy.gif" alt="Running & Jumping Dog" />
    </div>
    <div class="profile-row extend-margin-top">
      <!-- Dog Name -->
      <div class="profile-box mt-4">
        <img
          src="/assets/icons/dog-name.png"
          alt="Dog Name Icon"
          class="profile-img"
        />
        <div class="profile-info">
          <h5>Dog Name</h5>
          <p><%= dogData.dog_name %></p>
        </div>
      </div>

      <!-- Dog Breed -->
      <div class="profile-box mt-4">
        <img
          src="/assets/icons/dog-breed.png"
          alt="Dog Breed Icon"
          class="profile-img"
        />
        <div class="profile-info">
          <h5>Dog Breed</h5>
          <p><%= dogData.dog_breed %></p>
        </div>
      </div>
    </div>

    <div class="profile-row">
      <!-- Dog Age -->
      <div class="profile-box mt-4">
        <img
          src="/assets/icons/dog-age.png"
          alt="Dog Age Icon"
          class="profile-img"
        />
        <div class="profile-info">
          <h5>Dog Age</h5>
          <p><%= dogData.dog_age %></p>
        </div>
      </div>

      <!-- Dog Size -->
      <div class="profile-box mt-4">
        <img
          src="/assets/icons/dog-size.png"
          alt="Dog Size Icon"
          class="profile-img"
        />
        <div class="profile-info">
          <h5>Dog Size</h5>
          <p><%= dogData.dog_size %></p>
        </div>
      </div>
    </div>

    <!-- Special Needs or Medical Conditions -->
    <div class="profile-box mt-4">
      <img
        src="/assets/icons/special-needs.png"
        alt="Special Need Icon"
        class="profile-img"
      />
      <div class="profile-info">
        <h5>Special Needs or Medical Conditions</h5>
        <p>
          <%= dogData.special_needs %>
        </p>
      </div>
    </div>

    <!-- Remarks -->
    <div class="profile-box mt-4">
      <img
        src="/assets/icons/dog-remark.png"
        alt="Remark Icon"
        class="profile-img"
      />
      <div class="profile-info">
        <h5>Remarks</h5>
        <p>
          <%= dogData.dog_remark %>
        </p>
      </div>
    </div>
  </div>
</div>
