<link rel="stylesheet" href="/booking-history.css" />
<link rel="stylesheet" href="/about.css" />
<link rel="stylesheet" href="/registration.css" />

<!-- Top image section -->
<div class="top-image">
  <img src="/assets/history.jpg" alt="Booking History Image" />
  <div class="top-image-text">
    <h1>Booking History</h1>
    <p>A Walk Down Memory Lane with WoofWalk</p>
  </div>
</div>

<!-- History Wrapper -->
<div class="history-wrapper">
  <div class="history-container">
    <div class="history-title">
      <h3>Booking History</h3>
    </div>
    <div class="jumping-dog">
      <img src="/assets/jumping-dog.gif" alt="Jumping Dog" />
    </div>

    <% for (let i = 1; i <= bookings.length; i++) {
      const walker = walkers.find(walker => walker.walker_id == bookings[i - 1]["walker_id"]);
      const user = users.find(user => user.user_id == walker.user_id);
      %>
       
    <div class="history">
      <div class="history-image-container">
        <img
          src="/get-user-photo/<%= user.user_id %>"
          alt="History Walker Image"
          class="history-image"
        />
      </div>
      <div class="history-content">
        <div class="history-header">
          <h3>Booking <%= i %></h3>
          <h4><%= user.username %></h4>
          <p>Date: <%= bookings[i - 1]["walk_date"] %></p>
          <p>Time: <%= bookings[i - 1]["walk_time"] %> (<%= bookings[i - 1]["duration"] %> min)</p>
          <!-- Submit button -->
          <button
            type="submit"
            class="btn-design-1"
            onclick="window.location.href = '/booking-review/<%= user.user_id %>/<%= walker.walker_id %>'"
          >
            Review
          </button>
        </div>
      </div>
    </div>
    <% } %>

    <script>
    </script>
  </div>
</div>