<link rel="stylesheet" href="/walker-profile.css" />

<form
  action="/walker/update-walker-profile"
  method="POST"
  enctype="multipart/form-data"
>
  <div class="profile-container">
    <div class="profile-card">
      <!-- Walker Profile Image -->
      <img
        src="/walker/get-walker-photo"
        alt="Walker Image"
        class="walker-image"
      />

      <!-- Upload Photo Button -->
      <div class="mt-4">
        <input
          type="file"
          name="walkerPhoto"
          id="fileInput"
          style="display: none"
          accept="image/*"
        />
        <button
          type="button"
          class="button-design-2"
          onclick="document.getElementById('fileInput').click()"
        >
          Upload Photo
        </button>
        <span id="fileName">No file chosen</span>
      </div>

      <hr class="mt-4 mb-4" />

      <!-- Contact Walker Section with various social media links -->
      <div class="contact-walker">
        <h3 class="mb-3">Social Media Link</h3>

        <div class="social-icons-2 mt-3">
          <!-- WhatsApp -->
          <div class="row align-items-center">
            <div class="col-auto">
              <img src="/assets/whatsapp.png" alt="WhatsApp" />
            </div>
            <div class="col">
              <input
                type="text"
                name="whatsapp-link"
                id="whatsapp-link"
                class="form-control"
                placeholder="WhatsApp Link"
              />
            </div>
          </div>

          <!-- Facebook -->
          <div class="row align-items-center">
            <div class="col-auto">
              <img src="/assets/facebook.png" alt="Facebook" />
            </div>
            <div class="col">
              <input
                type="text"
                name="facebook-link"
                id="facebook-link"
                class="form-control"
                placeholder="Facebook Link"
              />
            </div>
          </div>

          <!-- Instagram -->
          <div class="row align-items-center">
            <div class="col-auto">
              <img src="/assets/instagram.png" alt="Instagram" />
            </div>
            <div class="col">
              <input
                type="text"
                name="instagram-link"
                id="instagram-link"
                class="form-control"
                placeholder="Instagram Link"
              />
            </div>
          </div>

          <!-- LinkedIn -->
          <div class="row align-items-center">
            <div class="col-auto">
              <img src="/assets/linkedin.png" alt="LinkedIn" />
            </div>
            <div class="col">
              <input
                type="text"
                name="linkedin-link"
                id="linkedin-link"
                class="form-control"
                placeholder="LinkedIn Link"
              />
            </div>
          </div>

          <!-- SnapChat -->
          <div class="row align-items-center">
            <div class="col-auto">
              <img src="/assets/snapchat.png" alt="SnapChat" />
            </div>
            <div class="col">
              <input
                type="text"
                name="snapchat-link"
                id="snapchat-link"
                class="form-control"
                placeholder="SnapChat Link"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Profile Details Section -->
    <div class="profile-details">
      <h3>Edit Profile</h3>
      <!-- First row: Username and Email -->
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="username" class="form-label"><b>Username</b></label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            value="<%= user.username %>"
            autocomplete="off"
          />
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label"><b>Email</b></label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            value="<%= user.email %>"
            autocomplete="off"
          />
        </div>
      </div>

      <!-- Second row: Quotes and Location -->
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="walker_quote" class="form-label"><b>Quote</b></label>
          <input
            type="text"
            class="form-control"
            id="walker_quote"
            name="walker_quote"
            value="<%= walkerData.walker_quote %>"
            autocomplete="off"
          />
        </div>
        <div class="col-md-6">
          <label for="walker_location" class="form-label"
            ><b>Location</b></label
          >
          <input
            type="text"
            class="form-control"
            id="walker_location"
            name="walker_location"
            value="<%= walkerData.walker_location %>"
            autocomplete="off"
          />
        </div>
      </div>

      <!-- Third row: Base Price and Contact -->
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="base_price" class="form-label"><b>Base Price</b></label>
          <input
            type="text"
            class="form-control"
            id="base_price"
            name="base_price"
            value="<%= walkerData.base_price %>"
            autocomplete="off"
          />
        </div>
        <div class="col-md-6">
          <label for="walker_contact" class="form-label"><b>Contact</b></label>
          <input
            type="text"
            class="form-control"
            id="walker_contact"
            name="walker_contact"
            value="<%= walkerData.walker_contact %>"
            autocomplete="off"
          />
        </div>
      </div>

      <!-- Fourth row: Bio -->
      <div class="row mb-3">
        <div class="col-md-12">
          <label for="walker_bio" class="form-label"><b>Bio</b></label>
          <textarea
            class="form-control"
            id="walker_bio"
            name="walker_bio"
            autocomplete="off"
            rows="6"
          >
<%= walkerData.walker_bio %></textarea
          >
        </div>
      </div>

      <!-- Fifth row: Skill 1 and Skill 2 -->
      <div class="row mb-3">
        <div class="col-md-12">
          <label for="walker_skill_1" class="form-label"><b>Skills</b></label>
          <textarea
            class="form-control"
            id="walker_skill_1"
            name="walker_skills"
            autocomplete="off"
            rows="4"
          >
<%= walkerData.walker_skills %></textarea
          >
        </div>

        <!-- Cancel and Update Buttons -->
        <div class="mt-3">
          <div class="col-12">
            <button
              type="reset"
              class="button-design-3 cancel"
              onclick="handleCancelClick()"
            >
              Cancel
            </button>
            <button type="submit" class="button-design-3 update">
              Edit & Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  function handleCancelClick() {
    // Reset the form fields
    document.querySelector("form").reset();

    // Navigate back to the previous page
    window.history.back();
  }

  // Display the selected file name
  document.getElementById('fileInput').addEventListener('change', function(event) {
    const file = event.target.files[0];
    const fileNameSpan = document.getElementById('fileName');
    const walkerImage = document.getElementById('walkerImage');

    if (file) {
      // Update the file name text
      fileNameSpan.textContent = file.name;

      // Create a FileReader to read the file
      const reader = new FileReader();

      // Once the file is read, update the image src
      reader.onload = function(e) {
        walkerImage.src = e.target.result;
      };

      // Read the image file as a data URL
      reader.readAsDataURL(file);
    } else {
      fileNameSpan.textContent = 'No file chosen';
    }
  });
</script>
